// Color system

$white: #fff;
$gray-100: #f6f6f6;

$gray-900: #333;
$black: #000;

$blue: #a696e9;
$indigo: #9346dc;
$purple: #1780a1;

// scss-docs-start theme-color-variables
$primary: $blue;
$secondary: $indigo;

//Custom colour
$third: $purple;

$titles: $primary;
