@use '../variables';

*:focus-visible {
  outline: 0.125rem solid variables.$secondary;
  outline-offset: 0.125rem;
}

.skip-links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.skip-links a {
  position: absolute;
  top: -10rem;
  left: 0.5rem;
  z-index: 100000;
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: variables.$secondary;
  border: 0.125rem solid variables.$secondary;
  color: #000;
  border-radius: 0.25em;

  /* link necessary styles */
  text-decoration: none;
}

.skip-links a:focus {
  top: 0.75rem;
  outline: 0;
}
